body {
  background-color: #F8F8F8;
  font-family: georgia;
  width: 760px;
}

a:visited {
  color: #8b008b;
}

h4 {
  border: 2px ;
  border-style: solid;
  border-color: #8b008b;
  padding: 5px;
  text-align: center;
}

section#banner {
  text-align: center;
}

section#menu {
  text-align: center;
}

section#menu {
  background-image: url(http://cache1.asset-cache.net/xc/179023303.jpg?v=2&c=IWSAsset&k=2&d=0spNMufGOkpsgD32wPQcsXQlFEDoSPX2OpY5aZpHjbw1);
}

section#menu li {
  display: inline;
  padding: 10px;
}

img {
  height: 90%;
  width:90%;
  padding: 10px;
}