body {
  background-color: #F8F8F8;
  font-family: georgia;
  max-width: 760px;
}

a:visited {
  color: #8b008b;
}

div#sub-banner {
  border: 2px ;
  border-style: solid;
  border-color: #cd853f;
  padding: 2px;
  text-align: center;
}

div.banner {
  text-align: center;
}

div.menu {
  padding: 3px;
  text-align: center;
  font-size: larger;
  background-image: url(https://www.wallsandfloors.co.uk/admin/uploads/ZoomImageTerracotta1306484566.jpg);
}

div.menu li {
  display: inline;
  padding: 10px;
  font-weight: bold;
}

div#image-caption {
  width: 500px;
  font-size: smaller;
  text-align: left;
  margin-left: 10px;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;;
}

div#vilas {
  height: 90%;
  width:90%;
  margin-top: 15px;
}

@media screen and (max-width: 550px) {
  div.menu {
    height: 30px;
    padding: 0px;
  }
  div.menu li {
    font-size: 60%;
    padding: 3px;
  }
  div#sub-banner {
    font-size: 60%;
    padding: 3px;
  }
  div.banner {
    font-size: 60%;
  }
}