body {
  background-color: #F8F8F8;
  font-family: georgia;
  width: 760px;
}

a:visited {
  color: #8b008b;
}

div#sub-banner {
  border: 2px ;
  border-style: solid;
  border-color: #cd853f;
  padding: 2px;
  text-align: center;
}

div.banner {
  text-align: center;
}

div.menu {
  text-align: center;
  background-image: url(https://www.wallsandfloors.co.uk/admin/uploads/ZoomImageTerracotta1306484566.jpg);
}

div.menu li {
  display: inline;
  padding: 10px;
  font-weight: bold;
}

div#image-caption {
  width: 50px;
  background-color: blue;
  text-align: center;
  padding-left: 10px;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;;
}

img {
  height: 90%;
  width:90%;
  padding: 10px;
}